<div class="welcom-container">
  <mat-card class="mat-elevation-z10">
    <mat-card-header>
      <img src="assets/myFlix_logo.png" alt="myFlix logo" class="logo" />
    </mat-card-header>
    <div class="content-container">
      <mat-card-content>Welcome to myFlix</mat-card-content>
    </div>
    <mat-card-actions>
      <button
        mat-stroked-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        Sign Up
      </button>
      <!-- Login button -->
      <button
        mat-stroked-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
