<mat-card>
  <mat-card-header>
    <mat-card-title>Sign Up!</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <!------ username ------->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>

      <!------ password ------->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          placeholder="Password"
          type="password"
          name="Password"
          required
        />
      </mat-form-field>

      <!------ Email ------->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Email"
          placeholder="Email"
          type="email"
          name="Email"
          required
        />
      </mat-form-field>

      <!------ birthday ------->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          placeholder="Birthday"
          type="date"
          name="Birthday"
        />
      </mat-form-field>
    </form>
  </mat-card-content>

  <!------ Button ------->
  <mat-dialog-actions>
    <button mat-raised-button (click)="registerUser()" color="primary">
      Sign Up
    </button>
  </mat-dialog-actions>
</mat-card>
