.logo {
  width: 200px;
}

mat-toolbar {
  height: 8vh;
  width: 100vw;
  background: black;
  color: white;
  padding-right: 50px;
}

div {
  overflow: inherit;
}

mat-sidenav-container {
  min-height: 93vh !important;
}

mat-sidenave-content {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}
