<div>
  <mat-toolbar class="mat-elevation-z6">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button routerLink="/">
      <img src="assets/myFlix_logo.png" alt="myFlix logo" class="logo" />
    </a>

    <span class="spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/movies">All Movies</a>
      <a mat-button routerLink="">My Favorites</a>
      <a mat-button routerLink="/users">My Profile</a>
      <a mat-raised-button>Sign Out</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <a mat-button routerLink="/movies">All Movies</a>
        <a mat-button routerLink="">My Favorites</a>
        <a mat-button routerLink="/users">My Profile</a>
        <a mat-raised-button>Sign Up</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <app-movie-card *ngIf="router.url === '/movies'"></app-movie-card>
      <app-user-profile *ngIf="router.url === '/users'"></app-user-profile>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
