.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

mat-card {
  width: 500px;
  background-color: black;
  color: white;
  padding: 30px;
  margin-top: 50px;
}

mat-card-header {
  justify-content: center;
  color: rgb(161, 7, 7);
}

mat-card-title {
  font-size: 27px !important;
}

mat-card-content {
  font-size: 16px;
}

mat-divider {
  background-color: gray;
  margin-top: 16px;
}

.content-container {
  margin-top: 50px;
  margin-left: 50px;
}

mat-icon {
  margin-right: 10px;
  color: #d8afa2 !important;
}

#profile-title {
  color: rgb(202, 167, 8);
}

mat-card-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.edit-btn {
  color: rgb(202, 167, 8);
  background-color: black;
  border: 2px solid rgb(202, 167, 8);
  transition-duration: 0.2s;
}
.edit-btn:hover {
  background-color: rgb(202, 167, 8);
  color: black;
}

.delete-btn {
  color: rgb(161, 7, 7);
  background-color: black;
  border: 2px solid rgb(161, 7, 7);
  transition-duration: 0.2s;
}
.delete-btn:hover {
  background-color: rgb(161, 7, 7);
  color: black;
}
